*{ 
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Roboto Flex', sans-serif;
}

.header{
    ul{
        gap: 10px;
    }
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    img:hover{
        transform: translate(100px);
        transition: all 3s;
    }
}

$redes:(
    instagram: #EF07FA,
    whatsapp: #52DC0D,
    facebook: #59B9F3,
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }    
}
