.container{
    width: 100%;
    margin: 0 auto;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem auto;    
    width: 100%;
    height: auto;
    place-items: center;
    img{
        width: 80%;
        height: auto;
        object-fit: cover;
    }

    iframe{
        width: 80%;
        height: 80%;
        object-fit: cover;
    }
}

