@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Flex', sans-serif;
}

.header ul {
  gap: 10px;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

footer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

footer img:hover {
  -webkit-transform: translate(100px);
          transform: translate(100px);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.btn--instagram {
  background-color: #EF07FA;
}

.btn--whatsapp {
  background-color: #52DC0D;
}

.btn--facebook {
  background-color: #59B9F3;
}

.redsocial, .btn--instagram, .btn--whatsapp, .btn--facebook {
  border: 2px solid #EF07FA;
  border-radius: 30px;
}

.btn--whatsapp {
  border-color: #52DC0D;
}

.btn--facebook {
  border-color: #59B9F3;
}

body {
  background-color: #a79a9a;
}

.header, footer {
  background-color: #2525ad;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  height: auto;
  place-items: center;
}

.galeria img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria iframe {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  height: auto;
  place-items: center;
}

.galeria2 img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  height: auto;
  place-items: center;
}

.galeria3 img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.tamaño {
  margin: 0 10px;
}

.galeria4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  height: auto;
  place-items: center;
}

.galeria4 img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria4 img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 3s;
  transition: all 3s;
}

@media (min-width: 800px) {
  .galeria img {
    width: 90%;
  }
  .galeria iframe {
    width: 90%;
  }
  .galeria2 img {
    width: 50%;
  }
  .galeria3 img {
    width: 30%;
  }
  .galeria4 {
    width: 70%;
  }
  .tamaño {
    margin: 0 200px;
  }
  .logo {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .tamaño {
    margin: 0 400px;
  }
  p {
    font-size: 25px;
    font-family: 'Anton', sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */